html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #1F1F1F, #476A6F);
    color: #C1B3B5;
}

header {
    text-align: center;
    padding: 1rem;
    color: #fff;
    border-bottom: 2px solid #7EB09B;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Para que los elementos absolutos se posicionen dentro del main */
}

.whoami {
    text-align: center;
    margin-bottom: 2rem;
}

section {
    width: 100%;
    margin-bottom: 2rem;
}

section h3 {
    color: #7EB09B;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

/* Posiciona Writeups y Apuntes en la parte superior izquierda */
.writeups, .notes {
    position: absolute;
    top: 4rem; /* Ajusta la distancia desde la parte superior */
    left: -30rem; /* Mueve más a la izquierda para evitar superposición */
    width: 300px; /* Ajusta el ancho de las secciones */
    background-color: #1F1F1F;
    padding: 1rem;
    border: 1px solid #7EB09B;
    border-radius: 5px;
    z-index: 10; /* Asegura que estén por encima de otros elementos si es necesario */
}

.notes {
    top: 25rem; /* Ajusta la distancia desde la parte superior */
    width: 300px; /* Ajusta el ancho de las secciones */
    background-color: #1F1F1F;
    padding: 1rem;
    border: 1px solid #7EB09B;
    border-radius: 5px;
    z-index: 10; /* Asegura que estén por encima de otros elementos si es necesario */
}
.writeups {
    margin-bottom: 1rem; /* Espacio entre Writeups y Apuntes */
}

details {
    background-color: #476A6F;
    color: #fff;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

details ul {
    margin-top: 0.5rem;
    padding-left: 1rem;
}

details ul li {
    margin-bottom: 0.5rem;
}

a {
    color: #7EB09B;
    text-decoration: none;
}

a:hover {
    color: #C1B3B5;
    text-decoration: underline;
}